<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
	
	<title>Админ-Центр</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" /> 
	<meta name="Description" content="" /> 
	<meta name="Keywords" content="" /> 
	<meta name="language" content="" />  
	<link href="{$admin->theme_path}css/index.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="/js/jquery/jquery-1.5.min.js"></script>
	<script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>
	
	<script type="text/javascript" src="/js/jquery/jqueryui/js/jquery-ui-1.8.9.custom.min.js"></script>
	<link href="/js/jquery/jqueryui/css/smoothness/jquery-ui-1.8.9.custom.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="/admin/js/ckeditor/ckeditor.js"></script>
	<script src="/admin/js/ckfinder/ckfinder.js" type="text/javascript"></script>
	
	<script type="text/javascript" src="js/functions.js"></script>

</head> 
 
<body>


<div id="body">

	<div id="wrapper">

		<div id="head">
			<a id="logo" href="/admin/?section=structure"></a><!-- #logo -->
		</div><!-- #head -->

		<div id="adminMenu">
		<ul>
			{foreach from=$admin->adminMenu item=adminMenuItem}
				<li>
					<a {if $adminMenuItem.section != '' and $adminMenuItem.section == $smarty.get.section}class="current"{/if} {if $adminMenuItem.target != ""}target="{$adminMenuItem.target}"{/if} href="{if $adminMenuItem.gAction}/admin/?gAction={$adminMenuItem.gAction}{else}{if $adminMenuItem.section != ""}?section={$adminMenuItem.section}{else}{if $adminMenuItem.url != ""}{$adminMenuItem.url}{/if}{/if}{/if}">{$adminMenuItem.title}</a>
				</li>
				
			{/foreach}
		</ul>
		</div><!-- #adminMenu -->	
		
		<div id="content">
		
		<p>{$admin->breadCrumbs}</p>
		
		{if $lister}<div class="pagination">{$lister}</div>{/if}
		
		{if $admin->adminMessage}<div id="adminMessage" class="message_block ">{$admin->adminMessage}</div>{/if}
		{if $admin->adminErrorMessage}<div id="adminMessage" class="message_block alert_block">{$admin->adminErrorMessage}</div>{/if}

		{if $gSection != ''}
			{capture name='include_file_path'}sections/{$gSection}.html{/capture}
			{include file=$smarty.capture.include_file_path}
		{/if}
		</div><!-- #content -->
		
		<div id="footer">&copy; {$smarty.now|date_format:"%Y"}</div><!-- #footer -->

	</div><!-- #wrapper -->
</div><!-- #body -->

</body>
</html>