#articles{}
		#articles .article
		{
			border:#ccc 1px solid;
			margin:10px 0 15px 0;
			padding:3px;
		}
				#articles .article .article-header
				{
					font-size:16px;
					font-weight:bold;
					background:url(../img/col_header_bg.gif) repeat-x left center;
					padding:5px 10px 5px 15px;
				}
				
				#articles .article .article-content
				{
					margin:10px 0;
				}
				
				#articles .article .article-footer
				{
					margin:10px 0;
					padding:5px;
				}
						#articles .article .article-footer .article-footer-right
						{
							float:right;
						}
						#articles .article .article-footer .article-footer-left
						{
							float:left;
						}
						#articles .article .article-footer .article-footer-clear
						{
							clear:both;
						}