<table class="table2 cart-table">
	<thead>
		<tr>
			<td width="1%">#</td>
			<td>Бренд</td>
			<td>Номер детали</td>
			<td>Наименование детали</td>
			<td>Цена</td>
			<td>Цена UAN</td>
			<td>Вес детали</td>
			<td>Код поставщика</td>
			<td>кол.</td>
			<td>общ. цена</td>
			<td>удалить</td>
		</tr>
	</thead>
	<tbody>
		{foreach from=$fullCart item=item key=key}
		<tr>
			<td>{$item.num}</td>
			<td>{$item.brand}</td>
			<td>{$item.number}</td>
			<td>{$item.name}</td>
			<td>{$item.price} {$item.currency}</td>
			<td>{$item.ourPrice}</td>
			<td>{$item.weight}</td>
			<td>{$item.supplierCode}</td>
			<td><input class="quantity" type="text" name="quantity[{$key}]" value="{$item.quantity}" /></td>
			<td>{$item.item_total_price}</td>
			<td><input type="checkbox" name="drop[{$key}]" value="{$key}" /></td>
		</tr>
		{/foreach}
	</tbody>
</table>