<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" /> 
	<link href="{$theme_path}css/template.css" rel="stylesheet" type="text/css" />
	<link href="{$theme_path}css/classes.css" rel="stylesheet" type="text/css" />
	
	<link href="{$theme_path}css/cart-overlay.css" rel="stylesheet" type="text/css" />
	
	
	<script type="text/javascript" src="{$theme_path}js/jquery-1.5.1.js" language="javascript"></script>

	<script type="text/javascript" src="/js/fancybox/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="/js/fancybox/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="/js/fancybox/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
	
	<title>{$app->meta['title']}</title>
</head>

<body>

<div>
	<h1>Товар добавлен</h1>
	{if $fullCart}
		<p>
			<table class="table2 cart-table">
				<thead>
					<tr>
						<td width="1%">#</td>
						<td>Наименование детали</td>
						<td width="1%">Цена</td>
						<td width="1%">кол.</td>
					</tr>
				</thead>
				<tbody>
					{$num=1}
					{foreach from=$fullCart item=item key=key}
					<tr>
						<td>{$num}</td>
						<td>{$item.item_title}</td>
						<td>{$item.price}</td>
						<td>{$item.quantity}</td>
					</tr>
					{assign var='num' value=$num+1}
					{/foreach}
				</tbody>
			</table>
		</p>
		
		<p style="text-align:right">
			<a class="button" target="_parent" href="/cart/">перейти в корзину</a>
			<a class="button" target="_parent" href="/cart/order/">оформить</a>
			<a class="button" target="_parent" href="{$smarty.get.back}">продолжить покупки &#8594;</a>
		</p>
		
	{/if}
</div><!-- #cart-iframe -->


</body>

</html>